body , * {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.image-container{
    border: 1px solid lawngreen;
}

.doggy-image {
    width: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    padding: 10px;
}

.head {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    color: #e5e7eb;
}

.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-para-text {
    width: 300px;
}